<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ .Title }} | {{ .Site.Title }}</title>
    <meta name="description" content="{{ .Site.Params.description }}">
    <link rel="stylesheet" href="{{ .Site.BaseURL }}css/style.css"> 
</head>
<body>
    <header>
        <a href="{{ .Site.BaseURL }}"><h1>{{ .Site.Title }}</h1></a>
    </header>
    <main>
        <h1>Latest Articles</h1>
        <section>
            {{ range .Paginator.Pages }}
            <article>
                <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
                <p>{{ .Description | plainify | truncate 150 }}</p>
                <p class="meta-data">Published: {{ .Date.Format "January 2, 2006" }}</p>
            </article>
            <hr>
            {{ end }}
        </section>
        
        {{ template "_internal/pagination.html" . }}
        
    </main>
    <footer>
        <p>&copy; {{ now.Year }} Knowledge Hub.</p>
    </footer>
</body>
</html>
